#search{
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px; 
}

#icon{
    display: flex;
    position: absolute;
    align-items: center;
    cursor: pointer !important;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    top:0px;
}

#input{
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;

    
}